/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili generali del corpo */
body {
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

/* Contenitore header*/
header {
    padding: 10px;
}

/* 1. Spinge h1 a sinistra e .mese-anno a destra */
.our-pricing-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* 2. Affianca in orizzontale "Monthly ●" e "Yearly ○" */
.mese-anno {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    /* spazio tra le due voci */
}

h1 {
    font-size: 45px;
}

.testo {
    font-size: 14px;
    color: gray;
    font-weight: 300;
}

/* Contenitore main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px 0 0 0;
}

/* Stile delle card bianche */
.card-pricing {
    width: 300px;
    border-radius: 24px;
    background-color: #ffffff;
    /* Sintassi: box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 35px;
}

.livello {
    font-size: 30px;
    font-weight: 600;
}

.prezzo {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: baseline;
}

.testo-prezzo {
    font-size: 60px;
    font-weight: 600;
}

.sconto {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 0px 0 30px 0;
    align-items: center;
}

.testo-sconto {
    border-radius: 6px;
    background-color: rgb(225, 225, 225);
    padding: 8px;
}

.scegli-piano {
    border-radius: 15px;
    background-color: rgb(106, 0, 255);
    color: #ffffff;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.differenze {
    padding: 30px 0 0px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
}


/* Stile delle card viola */

.card-pricing-selezionato {
    width: calc(100% / 3);
    border-radius: 24px;
    background-color: rgb(106, 0, 255);
    /* Sintassi: box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 35px;
}

.testo-selezionato {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}

.livello-selezionato {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.prezzo-selezionato {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    gap: 2px;
    color: #ffffff;
    align-items: baseline;
}

.testo-prezzo-selezionato {
    font-size: 60px;
    font-weight: 600;
}

.sconto-selezionato {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 0px 0 30px 0;
    align-items: center;
}

.testo-sconto-selezionato {
    border-radius: 6px;
    background-color: rgb(225, 225, 225);
    padding: 8px;
}

.scegli-piano-selezionato {
    border-radius: 15px;
    background-color: #ffffff;
    color: rgb(106, 0, 255);
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.differenze-selezionato {
    padding: 30px 0 0px 0;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 2;
}